1. Загрузите набор данных из файла car_data.csv.
2. Проведите анализ пропусков в данных. Удалите строки или столбцы, содержащие
пропуски.
3. Вычислите средний доход клиентов, купивших автомобиль марки Toyota Camry.
4. Найдите топ 10 самых дорогих марок автомобилей за представленный период времени.
5. Найдите среднюю стоимость автомобилей по типам кузова (Body Style), используя метод
groupby.
6. Какие автомобили приобрели 10 клиентов с самым высоким доходом? Какие автомобили
приобрели 10 клиентов с самым низким доходом?
7. Создайте новый столбец, значения которого равны логарифму от величины дохода
клиентов.

**Задание 1**. Загрузка данных

In [243]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', '{:.2f}'.format)

In [220]:
!gdown 1VkU1o5m-xyCsLq7BpBByGBlrwp6grevd

Downloading...
From: https://drive.google.com/uc?id=1VkU1o5m-xyCsLq7BpBByGBlrwp6grevd
To: /content/car_data.csv
100% 816k/816k [00:00<00:00, 26.6MB/s]

In [284]:
df = pd.read_csv('/content/car_data.csv')
df

,Unnamed: 0,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,4996,C_CND_004997,8/28/2022,Elena,Female,3900000,Saab-Belle Dodge,Jeep,Wrangler,Overhead Camshaft,Manual,Pale White,23000,60504-7114,Hatchback,7664667,Aurora
4997,4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Scrivener Performance Engineering,Saturn,LS,DoubleÂ Overhead Camshaft,Auto,Red,24000,38701-8047,Sedan,7050688,Greenville
4998,4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Star Enterprises Inc,Pontiac,Grand Am,DoubleÂ Overhead Camshaft,Auto,Pale White,12000,99301-3882,SUV,6236154,Pasco
4999,4999,C_CND_005000,8/28/2022,Ella,Male,13500,Suburban Ford,Mercury,Villager,DoubleÂ Overhead Camshaft,Auto,Black,16000,53546-9427,Passenger,7500618,Janesville
5000,5000,C_CND_005001,8/28/2022,Emily,Male,1700000,Tri-State Mack Inc,Mitsubishi,3000GT,Overhead Camshaft,Manual,Red,24000,85257-3102,Sedan,7052234,Scottsdale

**Задание 2**. Анализ и удаление пропусков. Общее количество пропусков позволяет применить dropna, а не удаление столбца целиком.

In [286]:
df.columns = [col.replace('No ','no').replace(' ','_').replace('__','_').lower() for col in df.columns]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   unnamed:_0     5001 non-null   int64
 1   car_id         5001 non-null   object
 2   date           5001 non-null   object
 3   customer_name  5001 non-null   object
 4   gender         5001 non-null   object
 5   annual_income  5001 non-null   int64
 6   dealer_name    4929 non-null   object
 7   company        4929 non-null   object
 8   model          5001 non-null   object
 9   engine         5001 non-null   object
 10  transmission   5001 non-null   object
 11  color          5001 non-null   object
 12  price_($)      5001 non-null   int64
 13  dealer_no      5001 non-null   object
 14  body_style     5001 non-null   object
 15  phone          5001 non-null   int64
 16  dealer_region  5001 non-null   object
dtypes: int64(4), object(13)
memory usage: 664.3+ KB

In [287]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4929 entries, 0 to 5000
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   unnamed:_0     4929 non-null   int64
 1   car_id         4929 non-null   object
 2   date           4929 non-null   object
 3   customer_name  4929 non-null   object
 4   gender         4929 non-null   object
 5   annual_income  4929 non-null   int64
 6   dealer_name    4929 non-null   object
 7   company        4929 non-null   object
 8   model          4929 non-null   object
 9   engine         4929 non-null   object
 10  transmission   4929 non-null   object
 11  color          4929 non-null   object
 12  price_($)      4929 non-null   int64
 13  dealer_no      4929 non-null   object
 14  body_style     4929 non-null   object
 15  phone          4929 non-null   int64
 16  dealer_region  4929 non-null   object
dtypes: int64(4), object(13)
memory usage: 693.1+ KB

**Задание 3**. Средний доход купивших Camry

In [255]:
df1 = df[df['company'].isin(['Toyota']) & df['model'].isin(['Camry'])]
print('Средний доход купивших Camry равен', df1['annual_income'].mean())

Средний доход купивших Camry равен 776609.375

**Задание 4**. Top-10 самых дорогих марок

In [256]:
df2 = df.groupby(['company', 'model'])['price_($)']. max().reset_index().sort_values(by='price_($)', ascending=False).head(10)
df2[['company', 'model', 'price_($)']]

        company        model  price_($)
139      Toyota         RAV4      85600
15     Cadillac     Eldorado      85301
83   Mercedes-B      S-Class      85001
4          Audi           A6      85000
148       Volvo          C70      82600
23    Chevrolet       Malibu      82500
75      Lincoln  Continental      82001
141      Toyota       Tacoma      82001
13     Cadillac       Catera      75600
103      Nissan   Pathfinder      75501

**Задание 5**. Средняя стоимость по типу кузова

In [291]:
df3 = df.groupby('body_style')['price_($)']. mean()
df3

body_style
Hardtop     29575.56
Hatchback   27377.56
Passenger   29845.25
SUV         26729.77
Sedan       29698.67
Name: price_($), dtype: float64

**Задание 6**. 10 клиентов с высоким доходом
10 клиентов с низким доходом

In [259]:
df4 = df.sort_values(by='annual_income', ascending=False).head(10)
print('Список клиентом с высоким доходом:')
print(df4[['customer_name', 'annual_income', 'company', 'model']])

df5 = df.sort_values(['annual_income', 'customer_name'], ascending=[True, True]).head(10)
print('Список клиентом с низким доходом:')
print(df5[['customer_name', 'annual_income', 'company', 'model']])

Список клиентом с высоким доходом:
     customer_name  annual_income     company           model
4755        Yaakov        6240000    Chrysler        Concorde
1227        Athena        5800000    Cadillac        Eldorado
1233     Francesca        5770000       Volvo             C70
3329         Fatou        5600000      Nissan      Pathfinder
2101         Malka        5525000       Volvo             S40
2801          Mila        5510000   Chevrolet        Corvette
2452         Judah        5300000     Porsche  Carrera Cabrio
2973         Emily        5110000  Volkswagen             GTI
3129          Aria        4900000         BMW            528i
3907        Jazmin        4802500        Ford          Ranger
Список клиентом с низким доходом:
     customer_name  annual_income     company          model
950        Aaliyah          13500  Oldsmobile     Silhouette
3450         Aaron          13500   Chevrolet       Cavalier
4462         Aaron          13500       Buick    Park Avenue
3932          Abby          13500        Ford         Ranger
972      Abdoulaye          13500        Jeep       Cherokee
4329       Abigail          13500    Chrysler  Sebring Coupe
2897       Abraham          13500  Mitsubishi        Montero
1430          Adam          13500       Volvo            S70
1985          Adam          13500        Ford         Escort
3453          Adam          13500       Acura             RL

**Задание 7**. Новый столбец, равный логарифму от дохода

In [290]:
df

,unnamed:_0,car_id,date,customer_name,gender,annual_income,dealer_name,company,model,engine,transmission,color,price_($),dealer_no,body_style,phone,dealer_region
0,0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,4996,C_CND_004997,8/28/2022,Elena,Female,3900000,Saab-Belle Dodge,Jeep,Wrangler,Overhead Camshaft,Manual,Pale White,23000,60504-7114,Hatchback,7664667,Aurora
4997,4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Scrivener Performance Engineering,Saturn,LS,DoubleÂ Overhead Camshaft,Auto,Red,24000,38701-8047,Sedan,7050688,Greenville
4998,4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Star Enterprises Inc,Pontiac,Grand Am,DoubleÂ Overhead Camshaft,Auto,Pale White,12000,99301-3882,SUV,6236154,Pasco
4999,4999,C_CND_005000,8/28/2022,Ella,Male,13500,Suburban Ford,Mercury,Villager,DoubleÂ Overhead Camshaft,Auto,Black,16000,53546-9427,Passenger,7500618,Janesville
5000,5000,C_CND_005001,8/28/2022,Emily,Male,1700000,Tri-State Mack Inc,Mitsubishi,3000GT,Overhead Camshaft,Manual,Red,24000,85257-3102,Sedan,7052234,Scottsdale

In [289]:
df6 = df.copy()
df6['log'] = df6['annual_income'].map(np.log)
df6

,unnamed:_0,car_id,date,customer_name,gender,annual_income,dealer_name,company,model,engine,transmission,color,price_($),dealer_no,body_style,phone,dealer_region,log
0,0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown,9.51
1,1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora,14.21
2,2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville,13.85
3,3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco,9.51
4,4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville,14.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,4996,C_CND_004997,8/28/2022,Elena,Female,3900000,Saab-Belle Dodge,Jeep,Wrangler,Overhead Camshaft,Manual,Pale White,23000,60504-7114,Hatchback,7664667,Aurora,15.18
4997,4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Scrivener Performance Engineering,Saturn,LS,DoubleÂ Overhead Camshaft,Auto,Red,24000,38701-8047,Sedan,7050688,Greenville,14.22
4998,4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Star Enterprises Inc,Pontiac,Grand Am,DoubleÂ Overhead Camshaft,Auto,Pale White,12000,99301-3882,SUV,6236154,Pasco,14.43
4999,4999,C_CND_005000,8/28/2022,Ella,Male,13500,Suburban Ford,Mercury,Villager,DoubleÂ Overhead Camshaft,Auto,Black,16000,53546-9427,Passenger,7500618,Janesville,9.51
5000,5000,C_CND_005001,8/28/2022,Emily,Male,1700000,Tri-State Mack Inc,Mitsubishi,3000GT,Overhead Camshaft,Manual,Red,24000,85257-3102,Sedan,7052234,Scottsdale,14.35